@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* CONTENT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: auto;
}
body {
  background: white;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
h1,
h2 {
  cursor: default;
}
body::-webkit-scrollbar {
  display: none;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
}
.section {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  z-index: 1;
  padding: 0 5vw;
}
.section h2 {
  color: white;
}
#s1 {
  background-image: url(img/background.jpg);
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  flex-direction: column;
}
#s1 .button {
  background-color: white;
  border-radius: 50vw;
  margin: 1.5rem;
  padding: 0.6rem 2.6rem;
  border: 0.3rem solid white;
  box-sizing: border-box;
  box-shadow: 0px 0px 17px 5px rgba(35, 35, 35, 0.16);
  transition: all 500ms ease-in;
  color: #333;
}
#s1 .button_text {
  font-size: 2rem;
}
#s1 h1 {
  color: #333;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 4rem;
  opacity: 0;
  transition: all 800ms cubic-bezier(0.59, 0.47, 0.29, 0.95);
}
#s1 h2 {
  font-weight: 400;
  color: #333;
}
#s1 .background {
  background-image: url(img/background.svg);
  background-size: cover;
  border: none;
  width: 100vw;
  height: 20vh;
  color: transparent;
  position: absolute;
  bottom: -3px;
  z-index: 2;
}
#s2 {
  height: 40vh;
}
#s3 {
  height: 55vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}
.section_element {
  width: calc(100% - 3vw);
  margin: 0 1.5vw;
}
.group_header {
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 3rem;
  letter-spacing: 0.5px;
}
.group_img {
  width: 100%;
  height: 15vh;
  position: relative;
  border-radius: 1.5rem;
  margin: 1rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: bottom;
  transition: all 400ms ease-in-out;
  z-index: 2;
}
.desc {
  font-size: 2rem;
  text-align: center;
  z-index: 3;
  transition: all 400ms ease-in-out;
}
.group_text {
  font-size: 1.5rem;
  text-align: center;
}
#s6 {
  height: 15vh;
  background-color: #333;
}
#s6 h2 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

/* MENU */

.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  scroll-behavior: smooth;
}
.navbar {
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
  overflow: hidden;
  background-color: transparent;
}
.navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 10vh;
}
.navbar ul li {
  position: relative;
  list-style-type: none;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
}
.navbar ul li:not(:first-child) {
  order: 2;
}
.navbar ul li:first-child {
  order: 1;
}
.navbar ul:before {
  content: "";
  flex-grow: 1;
  order: 2;
}
.navbar ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  font-size: 2rem;
  margin: 0 0.5rem;
  margin-top: 0.2rem;
  transition: 130ms ease-in;
  border-bottom: solid 0.2rem transparent;
}
.navbar ul li a:not(#logo):hover {
  border-bottom: solid 0.2rem #333;
}

@keyframes fade {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

:root {
  scroll-behavior: smooth;
  user-select: none;
  font-family: "Inter", sans-serif;
}
